langchain-groq
langchain-community
langchain-huggingface
langchain-redis
langchain
pinecone
pinecone[asyncio]
langchain-pinecone
fastapi
uvicorn
websockets
jinja2
requests
python-dotenv
pypdf
sentence-transformers
-e .
