langchain-groq
langchain-community
langchain-huggingface
pinecone
"pinecone[asyncio]"
"pinecone[grpc]"
langchain-pinecone
fastapi
uvicorn
websockets
jinja2
requests
python-dotenv
pypdf
sentence-transformers
-e .